{% extends 'non-auth/layout.twig' %}
{% block title %}Registrar{% endblock %}
{% block content %}
    <h1>Registrarme</h1>

    {{ form_start(registrationForm) }}
    <div class="form-group">
        {{ form_row(registrationForm.name) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.lastName) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.bornDate) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.password) }}
    </div>

    <button class="btn login-btn btn-block">Registrar</button>
    {{ form_end(registrationForm) }}

    <div class="panel-help">
        <p><a href="{{ absolute_url('/') }}">Volver</a></p>
    </div>
{% endblock %}